schemas/legacy/aps_encharsort.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Luis Lima (INESC Porto) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Eunice Maria Ferreira (INESC PORTO - INSTITUTO DE ENGENHARIA DE SISTEMAS E COMPUTADORES DO PORTO) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Defines the existing energetic characteristics that can be used on Operations as well as it's sorting strategy.</xs:documentation>
	</xs:annotation>
	<xs:element name="CHRENERGYGRPS">
		<xs:annotation>
			<xs:documentation>ROOT</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CHRENERGYGRP" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHRENERGIES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHRENERGY" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CHRENERGYNAME">
								<xs:annotation>
									<xs:documentation>Energetic Characteristic Name/Description</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="CHRENERGYCODE">
								<xs:annotation>
									<xs:documentation>Energetic Characteristic Code/Value</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHRENERGYCODE" type="xs:string"/>
	<xs:element name="CHRENERGYNAME" type="xs:string"/>
	<xs:element name="CHRENERGYGRP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CHRENERGYGRPCODE">
					<xs:annotation>
						<xs:documentation>Energetic Characteristic Group Code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CHRENERGYSEQUENCE">
					<xs:annotation>
						<xs:documentation>Determines the sorting strategy. How to choose the next element:
0  - Linear - After finishing return to the first characteristic;
1 - Circular - After finishing start from the end;
2 - Recursive - Always gets the nearest characteristic;</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="CHRENERGIES">
					<xs:annotation>
						<xs:documentation>Possible Energetic Characteristic Values for the current Group</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHRENERGYGRPCODE" type="xs:string"/>
</xs:schema>
