schemas/legacy/aps_enchgmatrix.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Eunice Maria Ferreira (INESC PORTO - INSTITUTO DE ENGENHARIA DE SISTEMAS E COMPUTADORES DO PORTO) -->
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Luís Miguel Guardão (INESC Porto) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Energetic Characteristics change matrix definition. This will define the transaction energetic costs produced by the change from a certain energetic characteristic value to another.</xs:documentation>
	</xs:annotation>
	<xs:element name="ENERGYMATRIX">
		<xs:annotation>
			<xs:documentation>ROOT</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ENERGYRESMATRIX" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Specifies the Energy Cost when energy characteristic values change in the resource.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHGENERGYPAIR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CHRENERGYCHANGES" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CHRENERGYCODEFROM">
								<xs:annotation>
									<xs:documentation>Source Energetic Characteristic Code</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ENERGYCHANGES">
								<xs:annotation>
									<xs:documentation>Defines Energy costs when energetic characteristics change from CHRENERGYCODEFROM to CHRENERGYCODETO on the current resource</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ENERGYCHANGE" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="CHRENERGYCODETO">
														<xs:annotation>
															<xs:documentation>Target Energetic Characteristic Code</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="CHGCOST">
														<xs:annotation>
															<xs:documentation>Transaction cost for the represented energetic change pair.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ENERGYRESMATRIX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RESCODE">
					<xs:annotation>
						<xs:documentation>Resource Code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CHRENERGYGRPCODE" type="xs:string">
					<xs:annotation>
						<xs:documentation>Energetic Characteristic Group Code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CHGENERGYPAIR">
					<xs:annotation>
						<xs:documentation>Energetic Characteristic Changes definition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHGCOST" type="xs:string"/>
	<xs:element name="CHRENERGYCODEFROM" type="xs:string"/>
	<xs:element name="CHRENERGYCODETO" type="xs:string"/>
	<xs:element name="CHRGROUPCODE" type="xs:string"/>
	<xs:element name="RESCODE" type="xs:string"/>
</xs:schema>
